#board
    position: relative
    background-size: 12.5% 12.5%
    background-position: 0 0, 100 0, 100 -100 0 -100
    height: 70vh
    width: 70vh
    font-size: 0
    border: 40px solid #111

.checker
    width: 12.5%
    height: 12.5%
    display: inline-block
    margin: 0
    position: relative
    user-select: none

    .potentialMove
        content: ''
        position: absolute
        top: 40%
        left: 40%
        height: 20%
        width: 20%
        border-radius: 100%
        background: #77777777
    
    .potentialCapture
        content: ''
        position: absolute
        top: 0
        left: 0
        height: calc(100% - 10px)
        width: calc(100% - 10px)
        border: 5px solid #77777777
        border-radius: 100%

    .label
        position: absolute
        color: #aaa
        font-size: 20px

        &.labely
            bottom: -32px
            left: 50%
            transform: translateX(-50%)

        &.labelx
            top: 50%
            left: -25px
            transform: translateY(-50%)
    
    .icon
        position: absolute
        display: inline-flex
        align-items: center
        justify-content: center
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        font-size: 6vh